.title-row {
    position: relative;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 9vh;
}
.title-text {
    position: relative;
    font-size: 150px;
    color: #27fb6b;
    text-shadow: 5px 5px #189b42;
}

.title-image {
    position: absolute;
    align-self: center;
    height: 220px;
    width: 220px;
    transform: translateY(10px);
    transform: translateX(-250px);
}

.main-row {
    padding-bottom: 5vh;
    height: 100%;
}

@media (max-width: 1200px) { /* BS xl breakpoint */
    .title-text {
        font-size: 100px;
    }
    .title-image {
        height: 140px;
        width: 140px;
        transform: translateY(5px);
    }
}
