.login-element {
    justify-content: center;
}

.slideIn {
    animation: slideIn 0.5s ease-in-out;
}

.fadeIn {
    animation: fadeIn 0.5s linear;
}

.slideAndFadeIn {
    animation: slideIn 0.5s ease-in-out, fadeIn 0.5s linear;
}

.create {
    max-width: 90% !important;
}

.input-col {
    justify-content: center;
}

.input-row {
    display: flex;
    justify-content: center;
}

.login-input {
    padding-left: 3px;
    border-radius: 8px;
    background-color: #404040;
    border: #404040;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 80%;
    transition: 0.1s;
}

.login-input:hover {
    background-color: #505050;
}

.stacked-margin {
    margin-bottom: 50px;
}

.smaller-font {
    font-size: 26px;
}

*:focus {
    outline: none;
}

.login-button-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 200%;
}

.square_btn{ /* from https://saruwakakun.com/en/css3-buttons */
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #14CC60;/*ButtonColor*/
    color: #FFF;
    border-bottom: solid 4px #189B42;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.square_btn:active {/*OnClick*/ /* from https://saruwakakun.com/en/css3-buttons */
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*Reduce Shadow*/
    border-bottom: none;
}

.square_btn:hover {
    background: #27FB6B;
}

#back-container {
    margin-right: 5vw;
}

.slider-text {
    font-size: 1.9vw;
    color: white;
}
 
@media (min-width: 1200px) {
    .stacked-margin {
        margin-bottom: 0px;
    }


}

@keyframes slideIn {
    from {
        transform: translateY(10%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}