.board-border-1 {
    position: absolute;
    height: 75%;
	width: 90%;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
	margin-top: 20px;
    margin-bottom: 122px; /* player container goes over edge */
    border: 3px solid #27FB6B;
    border-radius: 400px;
}

.board-border-2 {
    position: absolute;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #27FB6B;
    border-radius: 400px;
}
