.container {
    height: calc(100% - 20px);  /* 20px = height of footer */ 
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-row {
    display: flex;
    justify-content: center;
    height: 100%;
	width: 100%;
    max-width: 1920px;
	max-height: 1080px;
}

.board-col {
    width: 80%;
    margin-right: 1%;
}

.chat-col {
    width: 18%;
}

.fieldset {
    position: relative;
    height: 100%;
    margin-top: 10px;
    border: 6px solid #27FB6B;
    border-radius: 25px;
    box-shadow: 4px 4px #189B42;
}

.game-wrapper {
    position: relative;
    height: calc(100% - 44px);
}

.board-wrapper {
	position: relative;
	height: 80%;
}


.control-wrapper {
	position: relative;
	height: 20%;
}

.legend {
    width: auto;
    margin: 0 0 0 40px;
    padding: 0 20px 0 20px; 
    border-bottom: none;
    color: white;
    font-size: 35px;
}
