/*

 Poker Board Player Positions
       _ _ _ _ _ _ _ _ _
    0/                   \5
    |                     |
    |                     |
    |                     |
    1\ _ _ _ _ 2 _ _ _ _ /3

*/

.player-container {
    position: absolute;
    z-index: 99;
	background: #212121;
	padding: 1% 1% 1% 1%;
}

.name-container {
	display: flex;
	justify-content: center;
	bottom: 100;
	left: 50%;
	height: 10%;
	margin-bottom: 5%;	
	color: white;
	font-size: 1vw;
	border-radius: 20px;
	background: #313131;
}

.card-container {
	display: flex;
	justify-content: center;
	height: 8vw;
	max-height: 150px;
}

.bottom-wrapper {
	margin-top: 5%;
}

.balance-container {
	display: flex;
	width: auto;
	overflow: hidden;
	justify-content: center;
	color: white;
	font-size: 1vw;
	border-radius: 20px;
	background: #313131;
}

.blind-container {
	display: flex;
	width: 25%;
	justify-content: center;
	margin-left: 3%;
	float: right;
	color: white;
	font-size: 1vw;
	border-radius: 20px;
	background: #313131;
}

.bet-container {
	position: absolute;
	height: 6vw;
	width: 6vw;
}

.bet-icon {
	height: 75%;
	width: 100%;
}

.bet-label {
	margin-top: 5%;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 1vw;
	border-radius: 20px;
	background: #313131;
}

#0 {    
    bottom: 55%;
    left: -5%;
}

#0 > .bet-container {
	bottom: 25%;
	left: 105%;
}

#1 { 
    top: 55%;
    left: -5%;
}

#1 > .bet-container {
	top: 25%;
	left: 105%;
}

#2 {
    top: calc(100% - 5vw); 
    left: 50%;
    transform: translateX(-50%);
}

#2 > .bet-container { 
	top: -34%;
	left: 105%;
}

#3 {
    top: 55%;
    right: -5%;
}

#3 > .bet-container { 
	bottom: 30%;
	right: 105%;
}

#4 {
    bottom: 55%;
    right: -5%;
}

#4 > .bet-container {
	top: 30%;
	right: 105%;
}

img {
	height: 100%;
}

@media only screen and (min-width: 1545px) {
	#2 {
		top: calc(100% - 78px);
	}

	.name-container {
		font-size: 18px;
	}
	
	.balance-container {
		font-size: 18px;
	}

	.blind-container {
		font-size: 18px;
	}
}
